.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    grid-gap: 2rem;
}

.grid-item {
    cursor: pointer;
}

.chart-item {
    width: 200px;
    margin: 25px;
}

.chart-item p {
    display: flex;
    justify-content: center;
}