<app-navbar-admin></app-navbar-admin>
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItem()"
                [disabled]="!selectedItem || !selectedItem.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="quizList" [rows]="10" [paginator]="true"
        [globalFilterFields]="['quizName', 'quizActive', 'category.categoryName']" responsiveLayout="scroll"
        [(selection)]="selectedItem" [rowHover]="true" dataKey="quizId"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Quiz</h5>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchText" (focus)="search(dt)" (input)="search(dt)" appAutoFocus placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="quizName">Name<p-sortIcon field="quizName"></p-sortIcon>
                </th>
                <th>Description</th>
                <th pSortableColumn="category.categoryName">Category<p-sortIcon field="category.categoryName">
                    </p-sortIcon>
                </th>
                <th>Pass %</th>
                <th>Question(n)</th>
                <th pSortableColumn="quizActive">Status<p-sortIcon field="quizActive"></p-sortIcon>
                </th>
                <th pSortableColumn="quizStart">Start<p-sortIcon field="quizStart"></p-sortIcon>
                </th>
                <th pSortableColumn="quizEnd">End<p-sortIcon field="quizEnd"></p-sortIcon>
                </th>
                <th>Password</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quiz let-index="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="quiz"></p-tableCheckbox>
                </td>
                <td (click)="goPageByName(quiz.quizName)">{{quiz.quizName}}</td>
                <td (click)="goPageByName(quiz.quizName)">{{quiz.quizDescription}}</td>
                <td (click)="goPageByName(quiz.quizName)">{{quiz.category.categoryName}}</td>
                <td (click)="goPageByName(quiz.quizName)">{{quiz.quizPass}}%</td>
                <td (click)="goPageByName(quiz.quizName)">{{quiz.questionAll}}/{{quiz.numberOfQuestion}}</td>
                <td>
                    <p-inputSwitch [(ngModel)]="quiz.quizActive" (click)="activeSwitch(quiz, index)">
                    </p-inputSwitch>
                </td>
                <td (click)="goPageByName(quiz.quizName)">{{quiz.quizStart | date:'short':'':'th'}}</td>
                <td (click)="goPageByName(quiz.quizName)">{{quiz.quizEnd | date:'short':'':'th'}}</td>
                <td>{{quiz.quizPassword}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-search" class="p-button-rounded mr-2"
                        (click)="editItem(quiz)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                        (click)="editItem(quiz)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteItem(quiz)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{quizList ? quizList.length : 0 }} quiz.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Quiz Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="quiz.quizName" required autofocus />
            <small class="p-error" *ngIf="submitted && !quiz.quizName?.trim()">Name is required.</small>
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="quiz.quizDescription" rows="3" cols="20"></textarea>
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="text" pInputText id="password" [(ngModel)]="quiz.quizPassword" />
        </div>
        
        <div class="field">
            <label for="pass">Pass %</label>
            <input type="text" pInputText id="pass" [(ngModel)]="quiz.quizPass" />
            <small class="p-error" *ngIf="submitted && !quiz.quizPass?.toString().trim()">Pass is required.</small>
        </div>

        <div class="field">
            <label for="numberOfQuestion">Number of question</label>
            <input type="text" pInputText id="numberOfQuestion" [(ngModel)]="quiz.numberOfQuestion" required />
            <small class="p-error" *ngIf="submitted && !quiz.numberOfQuestion?.toString().trim()">numberOfQuestion is required.</small>
        </div>

        <div class="field">
            <label for="category.categoryName">Category</label>
            <p-dropdown [(ngModel)]="quiz.category" [options]="caregoryList" optionLabel="categoryName"
                placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge category-' + option.categoryId">{{option.categoryName}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !quiz.category">Category is required.</small>
        </div>
        <div class="field">
            <label for="status">Status</label>
            <div>
                <p-inputSwitch [(ngModel)]="quiz.quizActive"></p-inputSwitch>
            </div>
        </div>

        <div class="field">
            <label for="start">Start</label>
            <p-calendar [(ngModel)]="quiz.quizStart" [showTime]="true" [showButtonBar]="true"></p-calendar>
            <small class="p-error" *ngIf="submitted && !quiz.quizStart">Start is required.</small>
        </div>
        <div class="field">
            <label for="end">End</label>
            <p-calendar [(ngModel)]="quiz.quizEnd" [showTime]="true" [showButtonBar]="true"></p-calendar>
            <small class="p-error" *ngIf="submitted && !quiz.quizEnd">End is required.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-seccect" class="p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success" (click)="saveItem()"></button>
    </ng-template>
</p-dialog>