<p-card [style]="{width: '100vh'}">
    <ng-template pTemplate="header">
        <span class="center title">Reset password</span>
    </ng-template>

    <div class="body">
        <div class="center incorrect" *ngIf="cIncorrect">
            <div class="msg">
                Username or email is incorrect.
            </div>
        </div>

        <div class="center incorrect" *ngIf="cPassword">
            <div class="msg">
                {{txtMsg}}
            </div>
        </div>

        <div *ngIf="!cSearch">
            <div class="inputbox">
                <label for="username" class="block mb-1 mt-2"><i class="pi pi-user"></i> Username</label>
                <input id="username" type="username" placeholder="Username" pInputText [(ngModel)]="username" />
                <small class="block p-error" *ngIf="submitted && !username">Username is required.</small>
            </div>

            <div class="inputbox">
                <label for="email" class="block mb-1 mt-2"><i class="pi pi-user"></i> Email</label>
                <input id="email" type="email" placeholder="Email" pInputText [(ngModel)]="email" />
                <small class="block p-error" *ngIf="submitted && !email">Email is required.</small>
            </div>
        </div>

        <div *ngIf="cSearch">
            <div class="inputbox">
                <label for="newPassword" class="block mb-1 mt-2"><i class="pi pi-key"></i> New-Password</label>
                <p-password [(ngModel)]="newPassword" [toggleMask]="true" [feedback]="false" placeholder="New-Password"></p-password>

                <small class="block p-error" *ngIf="submitted && !newPassword">New-Password is required.</small>
            </div>

            <div class="inputbox">
                <label for="rePassword" class="block mb-1 mt-2"><i class="pi pi-key"></i> Re-Password</label>
                <p-password [(ngModel)]="rePassword" [toggleMask]="true" [feedback]="false" placeholder="Re-Password"></p-password>

                <small class="block p-error" *ngIf="submitted && !rePassword">Re-Password is required.</small>
            </div>
        </div>

    </div>

    <ng-template pTemplate="footer">
        <div class="center">
            <p-button [label]="txtLabel" (click)="btnSearch()"></p-button>
        </div>
    </ng-template>
</p-card>