<app-navbar-admin></app-navbar-admin>
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItem()"
                [disabled]="!selectedItem || !selectedItem.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="userList" [rows]="10" [paginator]="true"
        [globalFilterFields]="['userName', 'firstName', 'lastName']" responsiveLayout="scroll"
        [(selection)]="selectedItem" [rowHover]="true" dataKey="userId"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage User</h5>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchText" (input)="search(dt)"
                            placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Profile</th>
                <th pSortableColumn="userName">Username<p-sortIcon field="userName"></p-sortIcon>
                </th>
                <th pSortableColumn="firstName">Name<p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th>Tel</th>
                <th>Email</th>
                <th pSortableColumn="lastLogin">Last login<p-sortIcon field="lastLogin"></p-sortIcon>
                </th>
                <th pSortableColumn="userRole.userRoleName">Role<p-sortIcon field="userRole.userRoleName"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-index="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>
                    <p-image src="api/user/image/{{user.profile ? user.profile : 'person.png'}}" alt="Profile"
                        width="50px" [preview]="true"></p-image>
                </td>
                <td>{{user.userName}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.tel}}</td>
                <td>{{user.email}}</td>
                <td>{{user.lastLogin | date:'short':'':'th'}}</td>
                <td>{{user.userRole.userRoleName | userRole}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                        (click)="editItem(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteItem(user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{userList ? userList.length : 0 }} user.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="userName">Username</label>
            <input type="text" pInputText id="userName" [(ngModel)]="user.userName" required autofocus />
            <small class="p-error" *ngIf="submitted && !user.userName?.trim()">Username is required.</small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="text" pInputText id="password" [(ngModel)]="user.password" required />
            <small class="p-error" *ngIf="submitted && !user.password?.trim()">Password is required.</small>
        </div>
        <div class="field">
            <label for="firstName">Firstname</label>
            <input type="text" pInputText id="firstName" [(ngModel)]="user.firstName" required />
            <small class="p-error" *ngIf="submitted && !user.firstName?.trim()">Firstname is required.</small>
        </div>
        <div class="field">
            <label for="lastName">Lastname</label>
            <input type="text" pInputText id="lastName" [(ngModel)]="user.lastName" required />
            <small class="p-error" *ngIf="submitted && !user.lastName?.trim()">Lastname is required.</small>

        </div>
        <div class="field">
            <label for="tel">Tel</label>
            <input type="text" pInputText id="tel" [(ngModel)]="user.tel" required />
            <small class="p-error" *ngIf="submitted && !user.tel?.trim()">Tel is required.</small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText id="email" [(ngModel)]="user.email" required />
            <small class="p-error" *ngIf="submitted && !user.email?.trim()">Email is required.</small>
        </div>
        <div class="field" style="margin-bottom: 100px;">
            <label for="userRole.userRoleName">Role</label>
            <p-dropdown [(ngModel)]="user.userRole" [options]="userRoleList" optionLabel="userRoleDescription"
                placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge user-role-' + option.userRoleId">{{option.userRoleName | userRole}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !user.userRole">Role is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-seccect" class="p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success" (click)="saveItem()"></button>
    </ng-template>
</p-dialog>