<p-card [style]="{width: '150vh'}">
    <ng-template pTemplate="header">
        <span class="center title">เปลี่ยนรหัสผ่าน</span>
    </ng-template>

    <div class="body">
        <div class="center incorrect" *ngIf="cIncorrect">
            <div class="msg">
                รหัสผ่านเก่าไม่ถูกต้อง
            </div>
        </div>

        <div class="center incorrect" *ngIf="cPassword">
            <div class="msg">
                {{txtMsg}}
            </div>
        </div>

        <div class="inputbox">
            <label for="oldPassword" class="block mb-1 mt-2"><i class="pi pi-lock"></i> รหัสผ่านเก่า</label>
            <p-password [(ngModel)]="oldPassword" [toggleMask]="true" [feedback]="false" placeholder="รหัสผ่านเก่า"></p-password>
            <small class="block p-error" *ngIf="submitted && !oldPassword">กรุณากรอกรหัสผ่านเก่า</small>
        </div>

        <div class="inputbox">
            <label for="newPassword" class="block mb-1 mt-2"><i class="pi pi-lock"></i> รหัสผ่านใหม่</label>
            <p-password [(ngModel)]="newPassword" [toggleMask]="true" [feedback]="false" placeholder="รหัสผ่านใหม่"></p-password>
            <small class="block p-error" *ngIf="submitted && !newPassword">กรุณากรอกรหัสผ่าน</small>
        </div>

        <div class="inputbox">
            <label for="rePassword" class="block mb-1 mt-2"><i class="pi pi-lock"></i> ยืนยันรหัสผ่าน</label>
            <p-password [(ngModel)]="rePassword" [toggleMask]="true" [feedback]="false" placeholder="รหัสผ่านใหม่อีกครั้ง"></p-password>
            <small class="block p-error" *ngIf="submitted && !rePassword">กรุณากรอกรหัสผ่านอีกครั้ง</small>
        </div>

    </div>

    <ng-template pTemplate="footer">
        <div class="center">
            <button pButton pRipple type="button" label="ยืนยัน" class="btn" (click)="btnSearch()"></button>
            <button pButton pRipple type="button" label="ยกเลิก" class="btn p-button-danger"
                (click)="btnCancel()"></button>
        </div>
    </ng-template>
</p-card>