<p-confirmDialog [style]="{width: '60vh'}" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div class="display">
    <div class="grid">
        <div class="col">
            <app-navbar-user></app-navbar-user>
        </div>
    </div>
    
    <div class="grid">
        <div class="col-fixed center" style="width:310px">
            <img [src]="imageSrc" width="150" style="margin-bottom: 1vh;" alt="profile">
            <app-menu-user></app-menu-user>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
