<app-navbar-admin></app-navbar-admin>
<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItem()"
                [disabled]="!selectedItem || !selectedItem.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="questionList" [rows]="10" [paginator]="true"
        [globalFilterFields]="['questionName', 'questionType', 'quiz.quizName']" responsiveLayout="scroll"
        [(selection)]="selectedItem" [rowHover]="true" dataKey="questionId"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Question</h5>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchText" (focus)="search(dt)" (input)="search(dt)"
                            appAutoFocus placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="questionName">Name<p-sortIcon field="questionName"></p-sortIcon>
                </th>
                <th pSortableColumn="questionType">Type<p-sortIcon field="questionType"></p-sortIcon>
                </th>
                <th pSortableColumn="quiz.quizName">Quiz<p-sortIcon field="quiz.quizName"></p-sortIcon>
                </th>
                <th pSortableColumn="questionTime">Delay(s)<p-sortIcon field="questionTime"></p-sortIcon>
                </th>
                <th pSortableColumn="verified">Verified<p-sortIcon field="verified"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question let-expanded="expanded">
            <tr [style]="{cursor: 'pointer', 'background-color': expanded?'#cae6fc':''}">
                <td>
                    <p-tableCheckbox [value]="question"></p-tableCheckbox>
                </td>
                <td [pRowToggler]="question" [innerHTML]="question.questionName"></td>
                <td [pRowToggler]="question">{{question.questionType | choice}}</td>
                <td [pRowToggler]="question">{{question.quiz.quizName}}</td>
                <td [pRowToggler]="question" class="text-center">{{question.questionTime}}</td>
                <td [pRowToggler]="question" class="text-center">
                    <i [style]="question.verified ? 'color: #689F38' : 'color: #D32F2F'" class="pi"
                        [ngClass]="{'true-icon pi-check-circle': question.verified, 'false-icon pi-times-circle': !question.verified}"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                        (click)="editItem(question)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteItem(question)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{questionList ? questionList.length : 0 }} question.
            </div>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-question>
            <tr>
                <td colspan="10">
                    <div class="p-3">
                        <p-table [value]="question.choiceArr" dataKey="choiceId">
                            <ng-template pTemplate="caption">
                                <div class="flex align-items-center justify-content-between">
                                    <h5 class="m-0">Manage Question<span [innerHTML]="question.questionName"></span>{{question.questionType | choice}}</h5>
                                    
                                    <div>
                                        <p-button class="mr-2" icon="pi pi-plus" (click)="openDialogChoice(question)">
                                        </p-button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Name</th>
                                    <th>Correct</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-choice>
                                <tr>
                                    <td [innerHTML]="choice.choiceName"></td>
                                    <td>
                                        <p-tag [severity]="choice.choiceCorrect.choiceCorrectCheck ? 'success' : 'danger'" [value]="choice.choiceCorrect.choiceCorrectCheck ? 'Correct' : 'Incorrect'"></p-tag>
                                    </td>
                                    <td>
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="editItemChoice(choice)"></button>
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteItemChoice(choice)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="10">There are no order for this choice yet.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialog" [style]="{width: '450px'}" header="Question Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <p-editor [(ngModel)]="question.questionName" [style]="{'height':'160px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                    </span>
                </ng-template>
            </p-editor>
            <small class="p-error" *ngIf="submitted && !question.questionName?.trim()">Name is required.</small>
        </div>
        <div class="field">
            <label for="questionType">Type</label>
            <p-dropdown [(ngModel)]="question.questionType" [options]="questionTypeList" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge type'">{{option | choice}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !question.questionType">Type is required.</small>
        </div>
        <div class="field">
            <label for="quiz.quizName">Quiz</label>
            <p-dropdown [(ngModel)]="question.quiz" [options]="quizList" optionLabel="quizName" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge quiz-' + option.quizId">{{option.quizName}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !question.quiz">Quiz is required.</small>
        </div>
        <div class="field">
            <label for="delay">Delay(s)</label>
            <input type="text" pInputText id="delay" [(ngModel)]="question.questionTime" require />
            <small class="p-error" *ngIf="submitted && !question.questionTime?.toString().trim()">Delay is
                required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-seccect" class="p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success" (click)="saveItem()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="dialogChoice" [style]="{width: '450px', height: '600px'}" header="Choice Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <p-editor [(ngModel)]="choice.choiceName" [style]="{'height':'160px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                    </span>
                </ng-template>
            </p-editor>
            <small class="p-error" *ngIf="submitted && !choice.choiceName?.trim()">Name is required.</small>
        </div>
        <div class="field">
            <label for="questionType">Correct</label>
            <p-dropdown [(ngModel)]="choice.choiceCorrect" [options]="choiceCorrectList" optionLabel="choiceCorrectCheck" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge type'">{{option.choiceCorrectCheck}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !choice.choiceCorrect">Correct is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-seccect" class="p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success"
            (click)="saveItemChoice()"></button>
    </ng-template>
</p-dialog>