<p-card [style]="{width: '150vh'}">
    <ng-template pTemplate="header">
        <span class="center title">{{title}}</span>
    </ng-template>

    <div class="profile" (mouseenter)="uploadBtn.style.display = 'block'"
        (mouseleave)="uploadBtn.style.display = 'none'">
        <img [src]="imageSrc" id="photo">
        <input type="file" id="file" accept="image/jpeg, image/png" (change)="previewImage($event)">
        <label for="file" id="uploadBtn">Choose Photo</label>
    </div>


    <div class="body">
        <form [formGroup]="userForm">
            <div class="row">
                <input type="text" pInputText formControlName="userName" [pKeyFilter]="userReg"
                    placeholder="Username" />
                <small class="block p-error" *ngIf="submitted && !userForm.get('userName')?.value?.trim()">กรุณากรอก
                    Username.</small>
                <small class="block p-error"
                    *ngIf="submitted && userForm.get('userName')?.status != 'DISABLED' && userForm.get('userName')?.value?.trim() && userForm.get('userName')?.value?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>
            </div>

            <div class="row">
                <input type="text" pInputText formControlName="firstName" [pKeyFilter]="strReg" placeholder="ชื่อ" />
                <small class="block p-error"
                    *ngIf="submitted && !userForm.get('firstName')?.value?.trim()">กรุณากรอกชื่อ</small>
                <small class="block p-error"
                    *ngIf="submitted && userForm.get('firstName')?.value?.trim() && userForm.get('firstName')?.value?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>


                <input type="text" pInputText formControlName="lastName" [pKeyFilter]="strReg" placeholder="นามสกุล" />
                <small class="block p-error"
                    *ngIf="submitted && !userForm.get('lastName')?.value?.trim()">กรุณากรอกนามสกุล</small>
                <small class="block p-error"
                    *ngIf="submitted && userForm.get('lastName')?.value?.trim() && userForm.get('lastName')?.value?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>

            </div>

            <div class="row">
                <p-inputMask [style]="{width:'35vh'}" mask="(999) 999-9999" formControlName="tel"
                    placeholder="เบอร์โทรศัพท์มือถือ"></p-inputMask>
                <small class="block p-error"
                    *ngIf="submitted && userForm.get('tel')?.errors">กรุณากรอกเบอร์โทรศัพท์มือถือ</small>
            </div>

            <div class="row">
                <input id="email" type="email" placeholder="อีเมล" pInputText formControlName="email" />
                <small class="block p-error"
                    *ngIf="submitted && !userForm.get('email')?.value?.trim()">กรุณากรอกอีเมล</small>
                <small class="block p-error"
                    *ngIf="submitted && userForm.get('email')?.value?.trim() && userForm.get('email')?.errors">กรุณากรอกอีเมลให้ถูกต้อง</small>
            </div>

            <div class="row" *ngIf="mode === Mode.ADD">
                <input type="password" pInputText formControlName="password" placeholder="รหัสผ่าน" />
                <small class="block p-error"
                    *ngIf="submitted && !userForm.get('password')?.value?.trim()">กรุณากรอกรหัสผ่าน</small>
                <small class="block p-error"
                    *ngIf="submitted && userForm.get('password')?.value?.trim() && userForm.get('password')?.value?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>


                <input type="password" pInputText formControlName="cPassword" placeholder="ยืนยันรหัสผ่าน" />
                <small class="block p-error"
                    *ngIf="submitted && !userForm.get('cPassword')?.value?.trim()">กรุณากรอกรหัสผ่านอีกครั้ง</small>
                <small class="block p-error"
                    *ngIf="submitted && userForm.get('cPassword')?.value?.trim() && userForm.get('cPassword')?.value?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>

                <small class="block p-error"
                    *ngIf="submitted && userForm.get('password')?.value?.trim() !== userForm.get('cPassword')?.value?.trim()">รหัสผ่านไม่ตรงกัน</small>
            </div>

        </form>
    </div>

    <ng-template pTemplate="footer">
        <div class="center">
            <button pButton pRipple type="button" label="บันทึก" class="btn" (click)="btnSubmit()"></button>
            <button pButton pRipple type="button" label="ยกเลิก" class="btn p-button-danger"
                (click)="btnCancel()"></button>
        </div>
    </ng-template>
</p-card>