<p-card [style]="{width: '100vh'}">
    <ng-template pTemplate="header">
        <span class="center title">Login</span>
    </ng-template>

    <div class="body">
        <div class="center incorrect" *ngIf="cLogin">
            <div class="msg">
                Username or password is incorrect.
            </div>
        </div>

        <label for="username" class="block mb-1 mt-2"><i class="pi pi-user"></i> Username</label>
        <input id="username" type="username" placeholder="Username" pInputText [(ngModel)]="username" />
        <small class="block p-error" *ngIf="submitted && !username">Username is required.</small>

        <label for="password" class="block mb-1 mt-2"><i class="pi pi-key"></i> Password</label>
        <input id="password" type="password" placeholder="Password" pInputText [(ngModel)]="password" />
        <small class="block p-error" *ngIf="submitted && !password">Password is required.</small>
    </div>

    <ng-template pTemplate="footer">
        <div class="center">
            <p-button label="Login" (click)="btnSubmit()" (keydown.enter)="btnSubmit()"></p-button>
            <a class="mt-2" routerLink="register">Go to register</a>
        </div>
    </ng-template>
</p-card>