<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<div class="row">
    <div class="column left">
        <div class="img-menu">
            <img [style]="{cursor: 'pointer'}" src="assets/images/cdg-logo.png" height="80" class="mr-2" (click)="goHome()">
        </div>
        <app-menu-management></app-menu-management>
    </div>
    <div class="column right">
        <div class="row">
            <app-navbar-management></app-navbar-management>
        </div>

        <div class="row">
            <div class="column">
                <p-scrollPanel [style]="{width: '100%', 'min-width': '1220px', height: '630px'}" styleClass="custombar">
                    <router-outlet></router-outlet>
                </p-scrollPanel>
            </div>
        </div>
        
    </div>
</div>