<p-dialog [closable]="false" [(visible)]="dialog" [style]="{width: '1200px'}" [header]="edit ? 'แก้ไขแบบทดสอบ' : 'เพิ่มแบบทดสอบ'"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field col">
                <label for="category">หมวดหมู่</label>
                <p-dropdown *ngIf="!edit" [options]="caregoryList" [(ngModel)]="category.categoryName" [editable]="true"
                    optionLabel="categoryName" placeholder="เลือกหมวดหมู่" (ngModelChange)="checkEditCategory()">
                </p-dropdown>
                <p-dropdown *ngIf="edit" [options]="caregoryList" [(ngModel)]="category" placeholder="Select category"
                    optionLabel="categoryName" placeholder="เลือกหมวดหมู่"></p-dropdown>
                <small class="p-error" *ngIf="submitted && !category.categoryName">กรุณาเลือกหมวดหมู่</small>
                <small class="p-error"
                    *ngIf="submitted && editCategory && category.categoryName?.trim() && category.categoryName?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>

            </div>

            <div class="field col">
                <label for="start">เริ่ม</label>
                <p-calendar [(ngModel)]="quiz.quizStart" [showIcon]="true" [showTime]="true" [showButtonBar]="true"
                    appendTo="body"></p-calendar>
                <small class="p-error" *ngIf="submitted && !quiz.quizStart">กรุณาเลือกวันเวลา</small>

            </div>

            <div class="field col">
                <label for="average-test-time">เวลาทดสอบ (นาที)</label>
                <p-inputNumber [(ngModel)]="quiz.averageTestTime" inputId="average-test-time" mode="decimal" [min]="0"
                    [max]="999" [maxlength]="3"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !quiz.averageTestTime">กรุณากรอกเวลาทดสอบ</small>

            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-6">
                <label for="quiz">ชื่อแบบทดสอบ</label>
                <input type="text" pInputText id="quiz" [(ngModel)]="quiz.quizName" />
                <small class="p-error" *ngIf="submitted && !quiz.quizName?.trim()">กรุณากรอกชื่อแบบทดสอบ</small>
                <small class="p-error"
                    *ngIf="submitted && quiz.quizName?.trim() && quiz.quizName?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>
            </div>

            <div class="field">
                <label for="status">สถานะ</label>
                <div>
                    <p-inputSwitch [(ngModel)]="quiz.quizActive"></p-inputSwitch>
                </div>
            </div>

            <div class="field col">
                <label for="number-of-question">สุ่มแบบทดสอบ (ข้อ)</label>
                <p-inputNumber [(ngModel)]="quiz.numberOfQuestion"
                    (ngModelChange)="generateQuestion(quiz.numberOfQuestion)" inputId="number-of-question"
                    mode="decimal" [min]="0" [max]="300" [maxlength]="3"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !quiz.numberOfQuestion">กรุณากรอกสุ่มแบบทดสอบ</small>

            </div>

            <div class="field col">
                <label for="pass">ให้ผ่าน%</label>
                <p-inputNumber [(ngModel)]="quiz.quizPass" inputId="pass" mode="decimal" [min]="0" [max]="100"
                    [maxlength]="3">
                </p-inputNumber>
                <small class="p-error" *ngIf="submitted && !quiz.quizPass">กรุณากรอกให้ผ่าน%</small>

            </div>

            <div class="field">
                <label for="status">สุ่มรหัสผ่าน</label>
                <div class="ml-5">
                    <p-checkbox [binary]="true" inputId="choice" [(ngModel)]="randomPassword"
                        (ngModelChange)="randomPasswordToggle()"></p-checkbox>
                </div>
            </div>

            <div class="field col-1">
                <label for="password">รหัสผ่าน</label>
                <input type="text" pInputText id="password" [(ngModel)]="quiz.quizPassword" [disabled]="randomPassword"
                    [placeholder]="randomPassword ? 'สุ่มรหัส' : 'รหัสผ่าน'" />
                <small class="p-error"
                    *ngIf="submitted && !randomPassword && !quiz.quizPassword?.trim()">กรุณากรอกให้ผ่าน%</small>
                <small class="p-error"
                    *ngIf="submitted && quiz.quizPassword?.trim() && quiz.quizPassword?.trim().length < 6">กรุณากรอก
                    6 ตัวอักษรขึ้นไป</small>

            </div>
        </div>

        <div *ngFor="let question of questionList; let i = index" class="structure-question">
            <div class="question">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="question">ข้อคำถาม {{i+1}}</label>
                        <input type="text" pInputText id="question" [(ngModel)]="question.questionName" />
                        <small class="p-error"
                            *ngIf="submitted && !question.questionName?.trim()">กรุณากรอกข้อคำถาม</small>
                        <small class="p-error"
                            *ngIf="submitted && question.questionName?.trim() && question.questionName?.trim().length < 5">กรุณากรอก
                            5 ตัวอักษรขึ้นไป</small>
                    </div>

                    <div class="field col-2">
                        <label for="question-time">เวลาทดสอบ (วินาที)</label>
                        <p-inputNumber [(ngModel)]="question.questionTime" inputId="question-time" mode="decimal"
                            [min]="0" [max]="999" [maxlength]="3"></p-inputNumber>
                        <small class="p-error" *ngIf="submitted && !question.questionTime">กรุณากรอกเวลาทดสอบ</small>

                    </div>
                </div>

                <div class="field">
                    <label for="type">หลายตัวเลือก</label>
                    <div>
                        <p-inputSwitch [(ngModel)]="question.questionType" (click)="choiceCorrect(question)">
                        </p-inputSwitch>
                    </div>
                    <small class="p-error" *ngIf="submitted && !question.validateChoice">ต้องถูกอย่างน้อย
                        {{question.questionType==true ? '2' : '1'}} ข้อ</small>

                </div>

                <div class="field-checkbox mt-3" *ngFor="let choice of question.choiceArr; let ic = index">
                    <p-checkbox *ngIf="question.questionType" [binary]="true" inputId="choice"
                        [(ngModel)]="choice.choiceCorrect.choiceCorrectCheck" class="mr-2"
                        (click)="choiceCorrect(question)"></p-checkbox>

                    <p-radioButton *ngIf="!question.questionType" inputId="choice" [(ngModel)]="question.choiceSelected"
                        [value]="ic" class="mr-2" (click)="choiceCorrect(question)">
                    </p-radioButton>

                    <input type="text" pInputText id="question" [(ngModel)]="choice.choiceName"
                        [style]="{'width': submitted && !choice.choiceName?.trim() ? '80%' : '100%'}" />
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        class="ml-2 p-button-rounded p-button-danger p-button-text"
                        (click)="removeChoice(i, ic)"></button>
                    <small class="p-error" *ngIf="submitted && !choice.choiceName?.trim()">กรุณากรอกคำตอบ</small>
                </div>
                <div class="btn-right">
                    <button [style]="{'width': 'auto'}" pButton pRipple type="button" label="เพิ่มตัวเลือก"
                        class="p-button-text" (click)="addChoice(i)"></button>
                </div>
            </div>

        </div>

        <div class="field">
            <button [style]="{'float': 'right', 'width': 'auto'}" pButton pRipple type="button" label="เพิ่มข้อคำถาม"
                class="p-button-text" (click)="addQuestion()"></button>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="ยกเลิก" icon="pi pi-seccect" class="p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="บันทึก" icon="pi pi-check" class="p-button-success"
            (click)="saveItem()"></button>
    </ng-template>
</p-dialog>

<p-dialog [closable]="false" header="มีข้อผิดพลาด" [(visible)]="displayError" [breakpoints]="{'960px': '75vw'}" [style]="{width: '60vh'}"
    [draggable]="false" [resizable]="false">

    <div class="center" style="flex-direction: column">
        <p>ต้องมีชุดคำถามอย่างน้อย {{quiz.numberOfQuestion}} ข้อ</p>
    </div>

    <ng-template pTemplate="footer">
        <p-button label="ตกลง" styleClass="p-button-text" (click)="displayError=false"></p-button>
    </ng-template>
</p-dialog>