<p-dialog [closable]="false" [(visible)]="dialog" [style]="{width: '500px'}"
    [header]="mode ? 'แก้ไขข้อมูลผู้ใช้' : 'เพิ่มผู้ใช้'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="userName">Username</label>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText [(ngModel)]="user.userName" [pKeyFilter]="userReg" placeholder="Username"
                    required />
            </div>
            <small class="p-error" *ngIf="submitted && !user.userName?.trim()">กรุณากรอก Username</small>
            <small class="p-error"
                *ngIf="submitted && user.userName?.trim() && user.userName?.trim().length < 6">กรุณากรอก 6
                ตัวอักษรขึ้นไป</small>
            <small class="block p-error" *ngIf="submitted && repeatUser">มี Username นี้อยู่แล้วในระบบ</small>
        </div>

        <div class="formgrid grid">
            <div class="field col">

                <label for="firstName">ชื่อ</label>
                <input type="text" pInputText [(ngModel)]="user.firstName" [pKeyFilter]="strReg" placeholder="ชื่อ"
                    required />
                <small class="p-error" *ngIf="submitted && !user.firstName?.trim()">กรุณากรอกชื่อ</small>
                <small class="p-error"
                    *ngIf="submitted && user.firstName?.trim() && user.firstName?.trim().length < 6">กรุณากรอก 6
                    ตัวอักษรขึ้นไป</small>

            </div>
            <div class="field col">
                <label for="lastName">นามสกุล</label>
                <input type="text" pInputText [(ngModel)]="user.lastName" [pKeyFilter]="strReg" placeholder="นามสกุล"
                    required />
                <small class="p-error" *ngIf="submitted && !user.lastName?.trim()">กรุณากรอกนามสกุล</small>
                <small class="p-error"
                    *ngIf="submitted && user.lastName?.trim() && user.lastName?.trim().length < 6">กรุณากรอก 6
                    ตัวอักษรขึ้นไป</small>
            </div>
        </div>

        <div class="field">
            <label for="tel">เบอร์โทรศัพท์มือถือ</label>
            <p-inputMask mask="(999) 999-9999" [(ngModel)]="user.tel" placeholder="(999) 999-9999"></p-inputMask>
            <small class="p-error" *ngIf="submitted && !user.tel?.trim()">กรุณากรอกเบอร์โทรศัพท์มือถือ</small>
        </div>

        <div class="field">
            <label for="email">อีเมล</label>
            <input type="text" pInputText [(ngModel)]="user.email" (ngModelChange)="validate(user.email)"
                [pKeyFilter]="emailReg" placeholder="อีเมล" required />
            <small class="p-error" *ngIf="submitted && !user.email?.trim()">กรุณากรอกอีเมล</small>
            <small class="p-error"
                *ngIf="submitted && !emailSubmit && user.email?.trim().length > 0">กรุณากรอกอีเมลที่ถูกต้อง</small>
        </div>

        <div class="field" *ngIf="!mode">
            <label for="password">รหัสผ่าน</label>
            <input type="text" pInputText [(ngModel)]="user.password" [pKeyFilter]="blockSpace" placeholder="รหัสผ่าน"
                required />
            <small class="p-error" *ngIf="submitted && !user.password?.trim()">กรุณากรอกรหัสผ่าน</small>
            <small class="p-error"
                *ngIf="submitted && user.password?.trim() && user.password?.trim().length < 6">กรุณากรอก 6
                ตัวอักษรขึ้นไป</small>
        </div>

        <div class="field" style="margin-bottom: 100px;">
            <label for="userRole.userRoleName">Role</label>
            <p-dropdown [(ngModel)]="user.userRole" [options]="userRoleList" optionLabel="userRoleDescription"
                placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge user-role-' + option.userRoleId">{{option.userRoleName |
                        userRole}}</span>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !user.userRole">กรุณาระบุ Role</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="ยกเลิก" icon="pi pi-seccect" class="p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="บันทึก" icon="pi pi-check" class="p-button-success"
            (click)="saveItem()"></button>
    </ng-template>
</p-dialog>