/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: prompt;
    src: url(assets/fonts/Prompt-Regular.ttf) format("opentype");
}

* {
    font-family: prompt;
}

.display {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }

    &.custombar {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: #5b6cbf;
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: var(--primary-color);
            }
        }
    }
}

.p-dropdown .p-dropdown-label {
    font-family: prompt;
}

.p-inputtext, .p-inputtext::placeholder {
    font-family: prompt;
}
