/* You can add global styles to this file, and also import other style files */

.display {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
