<p-toolbar>
    <ng-template pTemplate="left">
        <button *ngIf="btnShow == 0" pButton pRipple label="ADD QUIZ" (click)="openDialogQuiz()" icon="pi pi-plus" class="p-button-info mr-2"></button>
        <button *ngIf="btnShow == 1" pButton pRipple label="ADD USER" (click)="openDialogUser()" icon="pi pi-plus" class="p-button-info mr-2"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-chip label="Apisit Noiluangchai" image="http://localhost:4200/api/user/image/san.jpg" [style]="{height: '7vh', cursor: 'pointer'}" (click)="menu.toggle($event)"></p-chip>
        <p-menu #menu [popup]="true" [model]="items" [style]="{width: '30vh'}"></p-menu>
    </ng-template>
</p-toolbar>

<app-user-dialog [dialog]="dialogUser"></app-user-dialog>
<app-quiz-dialog [dialog]="dialogQuiz"></app-quiz-dialog>