<div class="container">
    <p-table [value]="userList" [rows]="10" [paginator]="true"
        responsiveLayout="scroll"
        [(selection)]="selectedItem" [rowHover]="true" dataKey="userId"
        currentPageReportTemplate="แสดง {first}-{last} จาก {totalRecords} รายการ" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItem()"
                    [disabled]="!selectedItem || !selectedItem.length"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>รูปประจำตัว</th>
                <th pSortableColumn="userName">Username<p-sortIcon field="userName"></p-sortIcon>
                </th>
                <th pSortableColumn="firstName">ชื่อ-นามสกุล<p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th>เบอร์โทรศัพท์มือถือ</th>
                <th>อีเมล</th>
                <th pSortableColumn="lastLogin">Last login<p-sortIcon field="lastLogin"></p-sortIcon>
                </th>
                <th pSortableColumn="userRole.userRoleName">Role<p-sortIcon field="userRole.userRoleName"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-index="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>
                    <p-image src="api/user/image/{{user.profile ? user.profile : 'person.png'}}" alt="Profile"
                        width="50px" [preview]="true"></p-image>
                </td>
                <td>{{user.userName}}</td>
                <td>{{user.firstName + ' ' +user.lastName | showStrLen}}</td>
                <td>{{user.tel}}</td>
                <td>{{user.email | showStrLen}}</td>
                <td>{{user.lastLogin | date:'short':'':'th'}}</td>
                <td>{{user.userRole.userRoleName | userRole}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                        (click)="editItem(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteItem(user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                มีผู้ใช้ทั้งหมด {{userList ? userList.length : 0 }} คน
            </div>
        </ng-template>
    </p-table>
</div>

<app-user-dialog [dialog]="dialog" [mode]="modeDialog" [user]="user"></app-user-dialog>